PORT=8080
DATABASE_URL=mysql://root:@127.0.0.1:3306/ltp_local_db
JWT_SECRET=tu_clave_secreta_jwt_2026
NODE_ENV=development
DB_TYPE=mysql

# CONFIGURACIÓN SMTP (GOOGLE WORKSPACE / GMAIL PARA NOTIFICACIONES)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=contacto@liceocampanario.cl
SMTP_PASS=tu_contraseña_de_aplicacion_gmail
SMTP_FROM="LTP Liceo Pro" <contacto@liceocampanario.cl>
